@using Microsoft.AspNet.Identity
@using SensingSite.Data
@using SensingCloud.Helpers
@using Sensing.Entities.Users;
@using Webdiyer.WebControls.Mvc;
@using Sensing.Entities;
@model PagedList<Sensing.Entities.Menu>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 0;
    var sequence = 0;
}
@functions
{
    public string GetMediaName(Menu menu)
    {
        if(menu.Media==null) return "";
        else return menu.Media.Title;
    }
}
<style>
    th, td {
        max-width: 100px;
        text-align: center;
        vertical-align: middle;
    }

    #sample-table-1 {
        margin-top: 45px;
    }
</style>
<!-- PAGE CONTENT BEGINS -->
<div id="list">
    <div class="page-header">
        <h1>@ViewBag.Title</h1>
    </div>
    @*<section class="menu">
        <div class="row searchMenu">
            <div class="col-xs-8">
                <form class="form-inline" method="post">
                    <div class="from-group">
                        <div class="input-group">
                            <input name="qstr" type="text" class="form-control search-query" placeholder="名称,组名" value="@ViewBag.qstr">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary btn-sm">
                                    检索
                                    <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </section>*@
    <section class="user-table">
        <div class="row">
            <div class="col-xs-12" id="table">
                <table id="simple-table" class="table table-bordered table-striped table-hover table-condensed text-center">
                    <thead>
                        <tr>
                            <th class="hidden-xs">
                                序号
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                素材名称
                            </th>
                            <th>
                                @Resources.Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            index++;
                            sequence = (ViewBag.pageIndex - 1) * ViewBag.pageSize + index;

                            <tr id="@item.Id">
                                <td class="hidden-xs">@sequence</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @GetMediaName(item)
                                </td>
                                <td>
                                    <a idval="@item.Id" class="EditLinkA btn btn-primary btn-xs no-border">
                                        @Resources.Edit
                                    </a>
                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a idval="@item.Id" class="EditLinkA tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="row row-pager">
                    <div class="col-md-12">
                        @Html.Pager(Model, new PagerOptions { ActionName = "Index", PrevPageText = "上页", NextPageText = "下页", FirstPageText = "首页", LastPageText = "尾页", PageIndexParameterName = "pageIndex", ContainerTagName = "ul", CssClass = "pagination", CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>", DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>", PagerItemTemplate = "<li>{0}</li>" })
                    </div>
                </div>
            </div><!-- /.span -->
        </div><!-- /.row -->
    </section>
</div>
<div id="dialog_container"></div>

@*@section styles{
    <link href="/Content/ace/js/date-time/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
}*@

@section scripts{
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/jquery.pictureSelector.js"></script>
    <script src="~/Content/ace/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/jquery.extend.js"></script>
    <script src="~/Content/ace/js/bootstrap-multiselect.min.js"></script>
    <script>
        $(function () {
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true
            });
        });
        
        $("#list").on('click', '.EditLinkA', function () {
            var id = $(this).attr("idval");
            var $dialog_container = $("#dialog_container");
            var url = "/WeChat/Edit?id=" + id;
            $.get(url).success(function (data) {
                $dialog_container.html(data);
                $.validator.unobtrusive.parse("form");
                $('#editDialog').modal('show');

                $('#btn_confirm').click(function (e) {
                    e.preventDefault();
                    if (!$('#editForm').valid()) return false;
                    var options = {
                        url: '/WeChat/Edit',
                        method: 'post',
                        data: $('#editForm').serialize()
                    };

                    $.ajax(options)
                        .success(function (data) {
                            $('#editDialog').modal('hide');
                            $(".modal-backdrop").remove();
                            location.href = location.href;
                        })
                        .error(function (data) {
                            $.msg("系统错误");
                        });
                });
            })
            .error(function (data) {
                alert(data);
            });
            return false;
        });

        function doCloseDialog() {
            $('#editDialog').modal('hide');
        }
    </script>
}
