
@model  List<SensingCloud.Models.TicketViewModel>
@{
    Layout = null;
}
@functions{
    public string GetCanReturnUrl(string url)
    {
        if (url.IndexOf("#") >= 0)
        {
            var index = url.LastIndexOf("#");
            return url.Substring(0, index) + "wechat_redirect";
        }
        return url + "#wechat_redirect";
    }
}

<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--允许全屏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>无锡百乐戴斯酒店</title>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">



    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="favicon.ico">



    <!-- Theme Style -->
    @*<link rel="stylesheet" href="css/style.css">*@

    <!-- FOR IE9 below -->
    <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>
    <![endif]-->
    <style>
        html, body {
            width: 100%;
            height: 100%;
            padding: 0;
            margin: 0;
            color: white;
        }

        body {
            position: relative;
            width: 100%;
            text-align: center;
            overflow: hidden;
            margin: 0px;
            padding: 0px;
            z-index: 1;
            background-color:#CCD5E0;
        }

        div > img {
            width: 100%;
            height: 100%;
        }
        .hasImg {
            position:relative;
            font-size:40px;
        }

        .rowbox {
            display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
            display: -moz-box; /* 老版本语法: Firefox (buggy) */
            display: -ms-flexbox; /* 混合版本语法: IE 10 */
            display: -webkit-flex; /* 新版本语法: Chrome 21+ */
            display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
            -webkit-box-direction: normal;
            -webkit-box-orient: horizontal;
            -moz-flex-direction: row;
            -webkit-flex-direction: row;
            flex-direction: row;
            flex-wrap: nowrap;
            z-index: 1;
            width: 100%;
            <!-- position: absolute; -->
        }

        .columnbox {
            display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
            display: -moz-box; /* 老版本语法: Firefox (buggy) */
            display: -ms-flexbox; /* 混合版本语法: IE 10 */
            display: -webkit-flex; /* 新版本语法: Chrome 21+ */
            display: flex; /* 新版本语法: Opera 12.1, Firefox 22+ */
            -webkit-box-direction: horizontal;
            -webkit-box-orient: horizontal;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            flex-direction: column;
            flex-wrap: nowrap;
            z-index: 1;
            height: 100%;
            width: 100%;
        }

        .rowitem {
        }

        .columnitem {
            background-repeat: no-repeat;
            background-size: 100% 100%;
            position: relative;
        }
    </style>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script>
        $(function () {
            $(".hasImg>img").each(function () {
                var img = $(this);
                var img_src = img.attr("src");
                var img_path = img.attr("data-path");
                var frameid = 'frameimg' + Math.random();
                window.img = "<img id='img' onclick='window.parent.location.href=\"" + img_path + "\";' style='width:100%;height:100%;' src=\'" + img_src + '?' + Math.random() + '\' /><script>window.onload = function() {var frame=parent.document.getElementById(\'' + frameid + '\');document.body.style.margin=\'0px\';console.log(frame.style.margin); }<' + '/script>';
                img.parent().append('<iframe id="' + frameid + '" src="javascript:parent.img;" frameborder="0" scrolling="no" width="100%" height="100%" marginwidht="0" hspeace= "0" vspace= "0"></iframe>');
                img.remove();
            });
        });
    </script>
</head>
<body>
    <div style="height:10%;background-image:url(@Url.Content("~/Content/image/yhcx_bg_black_2.png"))">
        <div class="rowbox" style="height:100%;padding-top:1%;padding-bottom:1%;">
            <div class="rowitem" style="padding-left:5px;">
                <a href="/WeChat/Introduction">
                    <img src="~/Content/image/home.png" />
                </a>
            </div>
            <div class="rowitem" style="flex:10; font-size:40px;">
                <span style="text-align:center;vertical-align:middle;line-height:2;">优惠促销</span>
            </div>
            <div class="rowitem" style="padding-right:5px;">
                <a href="tel:0510-83592222">
                    <img src="~/Content/image/phonecall.png" />
                </a>
            </div>
        </div>
    </div>
    @if (Model[0].MediaId.HasValue)
    {
        <div class="hasImg" style="height:42%;">

            <img src="@Model[0].Thumb_url" data-path="@GetCanReturnUrl(Model[0].Media.Url)" />
            <div style="width:50%;position:absolute;bottom:0;left:0;background-color:black;">
                @Model[0].Media.Title.Substring(0, Model[0].Media.Title.LastIndexOf('.'))
            </div>

        </div>
    }
    else
    {
        <div style="height:42%;">
            <img src="~/Content/image/yhcx_bg_black_1.png" />
        </div>
    }
    @if (Model[1].MediaId.HasValue)
    {
        <div class="hasImg" style="height:13%;">

            <img src="@Model[1].Thumb_url" data-path="@GetCanReturnUrl(Model[1].Media.Url)" />
            <div style="width:50%;position:absolute;bottom:0;left:0;background-color:black;">
                @Model[1].Media.Title.Substring(0, Model[1].Media.Title.LastIndexOf('.'))
            </div>
        </div>
    }
    else
    {
        <div class="" style="height:13%;">
            <img src="~/Content/image/yhcx_bg_black_2.png" />
        </div>
    }
    @if (Model[2].MediaId.HasValue)
    {
        <div class="hasImg" style="height:13%;background-image:url(@Url.Content("~/Content/image/yhcx_bg_black_3.png"))">

            <img src="@Model[2].Thumb_url" data-path="@GetCanReturnUrl(Model[2].Media.Url)" />
            <div style="width:50%;position:absolute;bottom:0;left:0;background-color:black;">
                @Model[2].Media.Title.Substring(0, Model[2].Media.Title.LastIndexOf('.'))
            </div>
        </div>
    }
    else
    {
        <div class="" style="height:13%;">
            <img src="~/Content/image/yhcx_bg_black_3.png" />
        </div>
    }

    @if (Model[3].MediaId.HasValue)
    {
        <div class="hasImg" style="height:13%;">

            <img src="@Model[3].Thumb_url" data-path="@GetCanReturnUrl(Model[3].Media.Url)" />
            <div style="width:50%;position:absolute;bottom:0;left:0;background-color:black;">
                @Model[3].Media.Title.Substring(0, Model[3].Media.Title.LastIndexOf('.'))
            </div>

        </div>
    }
    else
    {
        <div class="" style="height:13%;">
            <img src="~/Content/image/yhcx_bg_black_4.png" />
        </div>
    }
    @if (Model[4].MediaId.HasValue)
    {
        <div class="hasImg" style="height:13%;">

            <img src="@Model[4].Thumb_url" data-path="@GetCanReturnUrl(Model[4].Media.Url)" />
            <div style="width:50%;position:absolute;bottom:0;left:0;background-color:black;">
                @Model[4].Media.Title.Substring(0, Model[4].Media.Title.LastIndexOf('.'))
            </div>
        </div>
    }
    else
    {
        <div class="" style="height:13%;">
            <img src="~/Content/image/yhcx_bg_black_5.png" />
        </div>
    }


</body>
</html>
