@model SensingCloud.Models.ResetPasswordViewModel
@using (Ajax.BeginForm("ResetPassword", "Account", new AjaxOptions
{
    HttpMethod = "Post",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "formpane"
},
 new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    @Html.HiddenFor(m => m.Email, new { @class = "form-control" })

    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 control-label" })
        <div class="col-md-8">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>


    </div>
    <div class="form-group">
        <div class="col-md-12" style="text-align:right">
            <input type="submit" class="btn btn-primary" value="重置密码" />
        </div>
    </div>
}
