@model SensingCloud.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="User login page" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/Scripts/html5shiv.js"></script>
    <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->

    <title>@ViewBag.Title</title>
</head>
<body class="light-login login-layout" style="background:none;">
    <header class="login-head">
        <div class="col-sm-6">
            <img src="/Content/img/logo.png" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="nav navbar-nav navbar-right login-nav">
                <li><a href="http://troncell.com/" target="_blank">创思官网</a></li>
                <li><span class="nav-gap">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></li>
                <li><a href="http://troncell.com/" target="_blank">O2O首页</a></li>
                <li><span class="nav-gap">&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;</span></li>
                <li><a href="http://troncell.com/" target="_blank">售后服务</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </header>
    <div class="main-container login-main-container">
        <div class="main-content">
            <div class="row">
                <div>
                    <div class="col-md-6 visible-md-block visible-lg-block">
                        <img src=@Url.Content("~/Content/img/BB61Cmd.png") class="login-img" />
                    </div>
                    <div class="login-container col-md-6">
                        <div class="position-relative">
                            <div class="space-24"></div>
                            <div class="space-24"></div>
                            <div id="editpassword-box" class="editpassword-box visible widget-box no-border" style="background-color:#ffffff;box-shadow:none;border-bottom:none;">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <span class="blue" style="font-size:30px;">
                                            Create the new password
                                        </span>
                                    </div>
                                </div>
                                <div class="space-12"></div>
                                <div style="background-color:#ffffff">
                                    @using (Ajax.BeginForm("ResetPassword", "Account", new AjaxOptions{HttpMethod = "Post",InsertionMode = InsertionMode.ReplaceWith,OnSuccess="ResetPasswordSuccess"},new { @class = "form-horizontal", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Code)
                                        @Html.HiddenFor(m => m.Email, new { @class = "form-control" })
                                        <fieldset>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "New password" })
                                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                                    @*<input type="text" class="form-control" placeholder="New password" />*@
                                                    <i class="ace-icon fa fa-lock"></i>
                                                </span>
                                            </label>
                                            <label class="block clearfix">
                                                <span class="block input-icon input-icon-right">
                                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Repeat password" })
                                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger"  })
                                                    @*<input type="text" class="form-control" placeholder="Repeat password" />*@
                                                    <i class="ace-icon fa fa-repeat"></i>
                                                </span>
                                            </label>
                                            <label id="phone-confirm-pane" style="color:red;"></label>
                                            <div class="space-16"></div>
                                            <div class="space-8"></div>
                                            <div>
                                                <button type="submit" class="width-35 btn btn-sm btn-primary no-border">
                                                    <span class="bigger-110">Apply</span>
                                                </button>
                                                <a href="/Account/Login" class="width-35 pull-right btn btn-sm btn-primary no-border">
                                                    <span class="bigger-110">Cancle</span>
                                                </a>
                                            </div>
                                        </fieldset>
                                    }

                                    <div class="space-24"></div>
                                    <a href="/Account/Login">
                                        Back to login
                                    </a>
                                </div><!-- /.widget-main -->
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <footer class="login-footer bottom">
        <div class="bottom_left col-xs-12 col-lg-5">
            <ul>
                <li class="gsjs"><a href="about.html">公司介绍</a></li>
                <li class="gsxw"><a href="about.html#news">社交媒体</a></li>
                <li class="hzhb"><a href="about.html#panter">合作伙伴</a></li>
                <li class="lxwm"><a href="about.html#contact">联系我们</a></li>
            </ul>
        </div>
        <div class="bottom_right col-xs-12 col-lg-7">
            <div class="weixincode"><img src="../Content/img/weixincode.png" width="121" height="120" alt="创思感知微信公众平台" /></div>
            <div class="sinacode"><img src="../Content/img/sinacode.png" width="121" height="120" alt="创思感知新浪微博" /></div>
            <div class="bottom_right_top">
                <div class="email"><a href="Mailto:sales@troncell.com">sales@troncell.com</a><span class="space-line">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div class="addr"><a href="about.html#contact">无锡市新区震泽路18号无锡（国家）软件园水瓶座508室</a><span class="space-line">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div class="sns">
                    <span class="weixin"></span>
                    <span class="sina"><a target="_blank" href="http://weibo.com/troncell"></a></span>
                    <span style="display:block;float:left;margin-left: 10px;">
                        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1253761899'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1253761899%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                    </span>
                </div>
            </div>
            <div class="bottom_right_bottom">
                <span>
                    Copyright 2013 TRONCELL Al Rights Reseverd
                </span>
                <span class="space-line">&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span>
                    苏ICP备13045243号-1
                </span>
            </div>
        </div>
        <div class="clear"></div>
    </footer>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function ResetPasswordSuccess(data)
        {
            if (data == "Success") {
                $("#phone-confirm-pane").show();
                $("#phone-confirm-pane").text("重置密码成功，请返回到登陆页面登陆！");
            } else if (data == "NotMatch")
            {
                $("#phone-confirm-pane").show();
                $("#phone-confirm-pane").text("重置密码失败，没有查询到该用户！");
            }
        }
    </script>

</body>
</html>
