@model SensingCloud.Models.ChangePadPasswordViewModel
<div class="col-xs-12">
@using (Ajax.BeginForm("IPadPasswordPartial", "CommonSetting", new AjaxOptions { HttpMethod = "Post", InsertionMode = InsertionMode.Replace, UpdateTargetId = "tabl_contentDiv", OnSuccess = "ChangePWSuccess" }, new { @class = "form-horizontal" }))
{
    if (ViewBag.Success == true)
    {
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <i class="ace-icon fa fa-check green"></i>
            修改成功.
        </div>
    }

    if (ViewBag.Success == false)
    {
        <div class="alert alert-block alert-warning">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <i class="ace-icon glyphicon glyphicon-remove "></i>
            修改失败.
        </div>
    }

    @Html.HiddenFor(model => model.Id)
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> 原始密码: </label>
        <div class="col-sm-4">
            @Html.PasswordFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> 新密码: </label>
        <div class="col-sm-4">
            @Html.PasswordFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" for="form-field-1-1"> 确认密码: </label>
        <div class="col-sm-4">
            @Html.PasswordFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-sm-4" style="text-align:right">
        <input type="submit" value="保存" class="btn btn-primary btn-sm no-border" />
    </div>
}
    </div>
<script>
    function ChangePWSuccess(data) {
        $(".alert-success").fadeIn().delay(1000).fadeOut();
    }
</script>