@model SensingCloud.Models.ChangePasswordViewModel
@using (Ajax.BeginForm("ChangePassword", "User", new AjaxOptions { InsertionMode = InsertionMode.ReplaceWith, UpdateTargetId = "form2", OnComplete = "showPasswordMsg" }, new { @class = "form-horizontal", @id = "form2" }))
{
    if (ViewBag.Success == true) 
    { 
        <div id="passwordMsg" class="alert alert-block alert-success" style="display:none">
            @Resources.UpdateSuccess
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>

            <i class="ace-icon fa fa-check green"></i>
        </div>
    }
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass1">原始密码</label>

        <div class="col-sm-4"   >
            @*<input type="password" name="OldPassword" id="form-field-pass1">*@
            @Html.PasswordFor(m => m.OldPassword,new {@class="form-control" })
            @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="space-4 clearfix"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass2">新密码</label>

        <div class="col-sm-4">
            @*<input type="password" name="NewPassword" id="form-field-pass2">*@
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class ="text-danger" })
        </div>
    </div>
    <div class="space-4"></div>
    <div class="form-group">
        <label class="col-sm-3 control-label no-padding-right" for="form-field-pass3">确认密码</label>

        <div class="col-sm-4">
            @*<input type="password" name="ConfirmPassword" id="form-field-pass3">*@
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class="text-danger"})
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-3"></div>
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-xs no-border pull-right">&nbsp;&nbsp;&nbsp;@Resources.Save&nbsp;&nbsp;&nbsp;</button>
        </div>
    </div>
}
<script>
    function showPasswordMsg() {
        $('#passwordMsg').fadeIn().delay(2000).fadeOut();
    }
 </script>
