@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity
@using Sensing.Data
@model SensingCloud.Models.CreateUserViewModel

<div class="page-header">
    <h1 class="modal-title" id="myModalLabel">添加用户</h1>
</div>



@using (Html.BeginForm("createuser", "user", FormMethod.Post, new { @id = "createForm" }))
{
    if (ViewBag.Success == true)
    {
        <div class="alert alert-block alert-success">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <i class="ace-icon fa fa-check green"></i>
            @Resources.CreateSuccess
        </div>
    }
        <div class="form-border">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Head</label>
                    <div class="col-md-10" data-target-parent="true" style="max-width:190px">
                        <img data-target-preview="true" style="width: 100px; height: 100px;" src="~/Content/img/fileupload.jpg" alt="Image preview">
                        <input type="file" name="avatar" id="file" multiple accept="image/*" style="display:none">
                        <button data-action-select="true" type="button" class="btn btn-info btn-sm no-border" style="margin-top:10px">选择图片</button>
                    </div>

                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.UserName</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    <label class="control-label col-md-2">@Resources.CompanyName</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.PhoneNumber</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.Email</label>
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.GroupName</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectedGroupId, Model.GroupItems, new { @class = "form-control " })
                        @Html.ValidationMessageFor(m => m.SelectedGroupId, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2">@Resources.RoleName</label>
                    <div class="col-md-4">
                        @Html.DropDownListFor(m => m.SelectRoleName, Model.RoleItems, new { @class = "form-control", disabled = "disabled" } )
                        @Html.ValidationMessageFor(m => m.SelectRoleName, "", new { @class = "text-danger" })
                    </div>
                </div>


            </div>
        </div>
        <div class="form-group">
            <div>
                <div>
                    <a href="#/" class="label label-info arrowed arrowed-in-right">@Resources.ReturnToList</a>
                    <button type="submit" style="float:right" class="btn btn-primary btn-xs no-border">&nbsp;&nbsp;&nbsp;@Resources.Save&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
        </div>




}

    
    <script>
        $(function () {
            if ($("#UserName").val() != "")
            {
                $("#SelectRoleName").removeAttr("disabled");
            }

            $("#SelectedGroupId").change(function () {
                $("#SelectRoleName").removeAttr("disabled");
                if ($("#SelectedGroupId").val() == "@ViewBag.CurrentGroupID") {
                    $("#SelectRoleName option[value='Admin']").remove();
                }
                else {
                    if ($("#SelectRoleName").find("option[value='Admin']").length > 0) {

                    }
                    else {
                        $("#SelectRoleName").append("<option value='Admin'>Admin</option>");
                    }
                }
            });
        });

    </script>


