@using Microsoft.AspNet.Identity.EntityFramework
@using Microsoft.AspNet.Identity
@using SensingSite.Data
@model SensingCloud.Models.AdminResetPasswordViewModel


<div class="modal fade" id="resetUserDialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">@Resources.ResetPassword</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-block alert-success" style="display:none">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <i class="ace-icon fa fa-check green"></i>
                    @Resources.ResetPasswordSuccess
                </div>
                
                <form id="resetUserForm" class="form-horizontal" role="form">
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input readonly="" name="username" type="text" class="col-xs-8" id="form-input-readonly" value="@Model.UserName">
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Company, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Company)
                            @Html.ValidationMessageFor(model => model.Company)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NewPassword)
                            @Html.ValidationMessageFor(model => model.NewPassword)
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a href="#/" class="btn btn-default">取消</a>
                <a id="confirm_update_user" class="btn btn-primary">@Resources.Save</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

