@model System.Collections.Generic.IEnumerable<Sensing.Entities.Entity.UserActivity>

<div class="widget-box transparent" id="widget-activities">
    <div class="widget-header widget-header-small">
        <h4 class="widget-title blue smaller">
            <i class="ace-icon fa fa-rss orange"></i>
            @Resources.RecentActivity
        </h4>

        <div class="widget-toolbar action-buttons">
            <a href="#" data-action="reload">
                <i class="ace-icon fa fa-refresh blue"></i>
            </a>
            &nbsp;
            <a href="#" class="pink">
                <i class="ace-icon fa fa-trash-o"></i>
            </a>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main padding-8">
            <!-- #section:pages/profile.feed -->
            <div id="profile-feed-1" class="profile-feed">
                    @foreach (var userActivity in Model)
                    {
                        <div class="profile-activity clearfix">
                            <div>
                                <img class="pull-left" alt="Alex Doe's avatar" src="@userActivity.ApplicationUser.AvatarUrl" />
                                <a class="user" href="#"> @userActivity.ApplicationUser.DisplayName </a>
                                 @userActivity.Content
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o bigger-110"></i>
                                    @userActivity.CreatedTime.TimeAgo()
                                </div>
                            </div>

                            <div class="tools action-buttons">
                                <a href="#" class="blue">
                                    <i class="ace-icon fa fa-pencil bigger-125"></i>
                                </a>

                                <a href="#" class="red">
                                    <i class="ace-icon fa fa-times bigger-125"></i>
                                </a>
                            </div>
                        </div>
                    }

            </div>

            <!-- /section:pages/profile.feed -->
        </div>
    </div>
</div>
