@model Sensing.Entities.Weixin.WeixinQrCode
@{
    ViewBag.Title = "生成二维码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateQrCode</h2>
@using (Html.BeginForm("CreateQrCode", "Weixin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form" }))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.WeixinAppID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.WeixinAppID, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(model => model.ClientUniueID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.ClientUniueID, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GameID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.GameID, new { htmlAttributes = new { @class = "form-control" } })
            </div>

            @Html.LabelFor(model => model.QrCodeUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @if (Model != null)
                {
                    <img src="@Model.QrCodeUrl" width="300" height="300" />
                }
               
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                   
                    <input type="submit" id="btnSubmit" value="生成二维码" style="float :left" class="btn btn-primary btn-sm no-border" />
                </div>
            </div>
        </div>
    </div>
                                }

<div>
    <img  src="@ViewBag.qrUrl"/>
</div>

