@model SensingCloud.Models.WeixinUserAwardModel
@{
    ViewBag.Title = "中奖列表";
    List<SensingCloud.Models.WeixinUserAwardListModel> sortList = Model.UserAwardList;
    string timejson = Newtonsoft.Json.JsonConvert.SerializeObject(sortList, Newtonsoft.Json.Formatting.Indented,
        new Newtonsoft.Json.JsonSerializerSettings
        {
            ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
        });
    sortList.Sort(delegate (SensingCloud.Models.WeixinUserAwardListModel x, SensingCloud.Models.WeixinUserAwardListModel y)
    {
        return y.Rank.CompareTo(x.Rank);
    });

    string rankjson = Newtonsoft.Json.JsonConvert.SerializeObject(sortList, Newtonsoft.Json.Formatting.Indented,
        new Newtonsoft.Json.JsonSerializerSettings
        {
            ReferenceLoopHandling = Newtonsoft.Json.ReferenceLoopHandling.Ignore
        });
}
@functions{
    public string GetLogo()
    {
        if (!string.IsNullOrEmpty(Model.ActivityLogoPath))
        {
            return Model.ActivityLogoPath;
        }
        else {
            return "/Content/weixinImage/photoshare/logo.png";
        }
    }
}


<html lang="en">
<head>
    <meta charset="UTF-8">
    @*禁止页面放大缩小*@
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link href="~/content/game/css/swiper.min.css" rel="stylesheet" />
    <link href="~/Content/weui/weui.min.css" rel="stylesheet" />
    <link href="~/Content/action/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/weui/weui-tron.css" rel="stylesheet" />
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .bg-none {
            width: 100%;
            height: 100%;
            background-size: 100% 100%;
        }


        .titlediv {
            width: 100%;
            position: fixed;
            left: 0;
            top: 0;
            padding: 0;
            margin: 0;
            background-color: #39c337;
            height: 3rem;
            text-align: center;
            z-index: 3;
        }

        .footdiv {
            width: 100%;
            position: fixed;
            left: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
            z-index: 3;
            /*background-color: #245269;*/
        }

        .chattingcontentdiv {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 1;
            text-align: left;
            left: 0%;
            top: 0%;
            /*-webkit-transform:translate(-50%,-50%);*/
            /*-moz-transform:translate(-50%,-50%);*/
            /*-ms-transform:translate(-50%,-50%);*/
            /*background-color: cadetblue;*/
        }

        .talkdiv {
            background-color: #ffffff;
            margin-left: 8px;
            border-radius: 10px;
            padding: 0.8rem;
            float: left;
            font-size: 1rem;
            color: #4c4b4b;
        }

        .talkdiv_right {
            background-color: #a0e75a;
            margin-left: 8px;
            border-radius: 10px;
            padding: 0.8rem;
            position: relative;
            float: right;
            font-size: 1rem;
            color: #4c4b4b;
        }

        .shurudiv {
            /*background-color: #0078a5;*/
            font-size: 2.8vmax;
            color: #8f9092;
            background-color: #ebecee;
            height: 3.5rem;
            border-top: solid 1px #c2c2c2;
        }

        .lineDiv {
            width: 100%;
            font-size: 2rem;
        }

        /*.shurudiv .inputtext {
            width: 100%;
            background-color: #ffffff;
            border: solid 1px #c2c2c2;
            border-radius: 8px;
            height: 2.5rem;
            margin-top: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }*/

        .shurudiv .inputtext {
            width: 72%;
            background-color: #ffffff;
            border: solid 1px #c2c2c2;
            border-radius: 8px;
            height: 2.5rem;
            margin-left: 8vw;
            font-size: 1rem;
            display: inline-block;
            margin-bottom: 1vw;
            line-height: 1.2rem;
        }

        .shurudiv .fasongimg {
            position: absolute;
            z-index: 2;
            width: 15%;
            margin-left: 2vw;
            margin-top: 2vw;
        }

        .userchattingdiv {
            /*min-height: 100px;*/
            /*height: auto;*/
            /*border:15px solid transparent;*/
            /*position: absolute;*/
        }

        .pos_rel {
            position: relative;
            _line-height: 0;
            margin-left: 60px;
            padding-top: 25px;
            margin-bottom: 25px;
            float: left;
            margin-top: -50px;
            width: 100%;
        }

            .pos_rel .icon2 {
                display: block;
                border-width: 9px 9px 9px 0;
                border-color: transparent #ffffff transparent transparent;
                border-style: solid;
                position: absolute;
                left: 0px;
                top: 40px;
                width: 0;
                height: 0;
            }

        .pos_relright {
            position: relative;
            _line-height: 0;
            margin-right: 60px;
            padding-top: 25px;
            margin-bottom: 25px;
            float: right;
            margin-top: -50px;
            width: 100%;
        }

            .pos_relright .icon2 {
                display: block;
                border-width: 9px 9px 9px 9px;
                border-color: transparent transparent transparent #a0e75a;
                border-style: solid;
                position: absolute;
                right: -17px;
                top: 40px;
                width: 0;
                height: 0;
            }

        .swiper-container {
            width: 100%;
            height: 100%;
        }

        .swiper-slide {
            height: auto;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding-left: 3%;
            padding-right: 3%;
            margin-top: 5rem;
            padding-bottom: 3rem;
        }
    </style>
    <script src="~/scripts/jquery-2.1.4.js"></script>
    <script src="~/scripts/swiper.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <script>
        function JsSort()
        {
            var data;
            if($("#divSort").attr('data-content')=='time') {
                data = @Html.Raw(rankjson);
                $("#divSort").html('日期');
                $("#divSort").attr('data-content','rank');
            }else{
                data = @Html.Raw(timejson);
                $("#divSort").html('奖品');
                $("#divSort").attr('data-content','time');
            }

            $("#list").html('');
            $.each(data,function(i,el){
                var date=new Date(el.LastUpdated);
                var MM=date.getMonth()+1;
                var yyyy=date.getFullYear();
                var dd=date.getDate();
                var HH=date.getHours();
                var mm=date.getMinutes();
                var foramtdate=yyyy+'-'+MM+'-'+dd+' '+HH+':'+mm;
                $("#list").append('<div style="width: 100%;height: 6rem;background-color: #FFFFFF;margin-top: 1rem;border-top: solid 1px #d1d1d1;">'
                        + '<div style="width: 4rem;height: 4rem;margin-top: 1rem;margin-left: 2rem;float: left;">'
                            + '<img src="' + el.Headimgurl + '" style="height: 100%;border-radius: 50%;">'
                        + '</div>'
                        + '<div style="width: 70%;height: 4rem;margin-top: 1rem;margin-left: 1rem;float: right;">'
                            +'<div style="width: 100%;height: 50%;">'
                            +'<div style="width: 50%;float: left;font-size: 1rem;margin-top: 0.3rem;"><span>'+el.UserName+'</span></div>'
                            +'<div style="width: 50%;float: right;font-size: 1.2rem;text-align: center;"><span>'+el.AwardName+'</span></div>'
                        +'</div>'
                        +'<div style="width: 100%;height: 50%;">'
                            +'<div style="width: 50%;float: left;font-size: 0.7rem;margin-top: 0.3rem;"><span>'+foramtdate+'</span></div>'
                            +'<div style="width: 50%;float: right;font-size: 1.2rem;text-align: center;"><span>('+el.AwardProduct+')</span></div>'
                        +'</div>'
                        +'</div>');

            });

        }
    </script>
</head>
<body>
    <div class="titlediv">
        <div class="titlebuttondiv" style="width: 50%;height: auto;text-align: center;margin: 0.5rem auto;color: #FFFFFF;font-size: 1.2rem">
            <span class="fa fa-gift"></span>
            <span>中奖消息</span>
            <span class="fa fa-angle-down"></span>
        </div>
    </div>
    <div class="titlemenudiv" style="width: 100%;height: 5.5rem;position: fixed;z-index: 2;border-bottom: solid 1px #d1d1d1;display: none;">
        <div style="width: 100%;height: 100%;background-color: #eeeeee;position: absolute;z-index: -1;opacity: 0.9"></div>
        @{
            var flow = Model.Activity.ActivityFlows.FirstOrDefault(p => p.FlowType == Sensing.Entities.Weixin.FlowType.Introduction);
        }
        <div style="width: 5rem;height: 4rem;margin-top: 0.5rem;text-align: center;margin-left: 1rem;float: left;">
            <a onclick="location.href='@Html.Raw(Url.Action("Transfer","action",new { actionId=ViewBag.weixinuseractionid,openid=ViewBag.openid, isShared=false }))';return false;">
                <div style="width: 3rem;height: 3rem;background-color: #54bba9;border-radius: 50%;color: #FFFFFF;font-size: 2rem;margin: 0 auto;">
                    <i class="fa fa-comments-o" style="padding-top:0.5rem;"></i>
                </div>
                <div style="width: 100%;height: 1rem;color: #8d8d8d">聊天室</div>
            </a>
        </div>
        @if (flow != null)
        {
            <div style="width: 3rem;height: 4rem;margin-top: 0.5rem;text-align: center;margin-left: 1rem;float: left;">
                <a onclick="location.href='@Url.Action("Transfer","Activity",new { activityId=Model.ActivityID,flowType=(int)Sensing.Entities.Weixin.FlowType.Introduction, openid=ViewBag.openid})';return false;">
                    <div style="width: 100%;height: 3rem;background-color: #906cd8;border-radius: 50%;color: #FFFFFF;font-size: 2rem;">
                        <i class="fa fa-gamepad" style="padding-top:0.5rem;"></i>
                    </div>
                    <div style="width: 100%;height: 1rem;color: #8d8d8d">活动</div>
                </a>
            </div>
        }
    </div>
    <div style="width: 100%;color: #727272;">
        <div style="width: 100%;height: 5rem;background-color: #FFFFFF;margin-top: 3rem;">
            @{
                string activityTitle = Model.ActivityName + "大放送";
                string totalTitle = "(共" + Model.TotalCount + "个)";
                string sendTitle = "已送出" + Model.SendCount + "个";
            }
            <div style="height: 2.5rem">
                <div style="width: 70%;height: 2.5rem;float: left;margin-top: 1rem;margin-left: 2rem;float: left;">
                    <img src="@GetLogo()" style="width:2.2rem;height: 2.5rem">
                    <span style="font-size: 1.2rem">@activityTitle</span>
                    <span style="font-size: 0.7rem">@totalTitle</span>
                </div>
                <div id="divSort" onclick="JsSort();" data-content="time" style="width: 15%; margin-top: 1rem;margin-right: 1rem;float: right;position: relative;border: solid 1px #39c337;text-align: center;border-radius: 5px;padding-top: 0.2rem;padding-bottom: 0.2rem;">
                    奖品
                </div>
            </div>
            <div style="height: 1rem;margin-top: 1rem;margin-left: 4.5rem;font-size: 0.7rem;color: #9a9a9a;">
                <span>@sendTitle</span>
            </div>

        </div>
        <div id="list">
            @foreach (var item in Model.UserAwardList)
            {
                <div style="width: 100%;height: 6rem;background-color: #FFFFFF;margin-top: 1rem;border-top: solid 1px #d1d1d1;">
                    <div style="width: 4rem;height: 4rem;margin-top: 1rem;margin-left: 2rem;float: left;">
                        <img src="@item.Headimgurl" style="height: 100%;border-radius: 50%;">
                    </div>
                    <div style="width: 70%;height: 4rem;margin-top: 1rem;margin-left: 1rem;float: right;">
                        <div style="width: 100%;height: 50%;">
                            <div style="width: 50%;float: left;font-size: 1rem;margin-top: 0.3rem;"><span>@item.UserName</span></div>
                            <div style="width: 50%;float: right;font-size: 1.2rem;text-align: center;"><span>@item.AwardName</span></div>
                        </div>
                        <div style="width: 100%;height: 50%;">
                            <div style="width: 50%;float: left;font-size: 0.7rem;margin-top: 0.3rem;"><span>@string.Format("{0:MM-dd HH:mm}", item.LastUpdated.Value)</span></div>
                            <div style="width: 50%;float: right;font-size: 1.2rem;text-align: center;"><span>(@item.AwardProduct)</span></div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <script>
        $(".titlediv").click(function () {
            $(".titlemenudiv").toggle(500);
        });
    </script>
</body>
</html>
