@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Web.Mvc.Html
@using System.Linq
@using MvcSiteMapProvider.Web.Html.Models

<ul class="breadcrumb">
        @foreach (var node in Model)
        {
            if (node == Model.Last())
            {
                <li class="active">
                    @node.Title
                </li>


            }
            else if (node == Model.First())
            {
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="@node.Url">@node.Title</a>
                </li>
            }
            else
            {
                <li>
                    <a href="@node.Url">@node.Title</a>
                </li>
            }
        }
</ul>