@model Sensing.Entities.Weixin.WeixinUserAction
@using SensingCloud.Helpers
@using SensingCloud.Models
@{
    string CurrentHost = Request.Url.Scheme + "://" + Request.Url.Host + "/weixin/Auth20CallBack";
    CurrentHost = System.Web.HttpUtility.UrlEncode(CurrentHost);
    WeChatJSViewModel weChatJSInfo = ViewBag.WXJSInfo as WeChatJSViewModel;
}

@functions{
    public string GetShareImage()
    {
        string shareImage=Model.ActivityGame.ActionShare.ImageLink;
        if (string.IsNullOrEmpty(shareImage))
        {
            shareImage = ConstConfig.Common_Share_Image;
        }
        if (!string.IsNullOrEmpty(shareImage) && !shareImage.StartsWith("http"))
        {
            shareImage = Request.Url.Scheme + "://" + Request.Url.Host + shareImage.Replace("\\", "/");
        }
        return shareImage;
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!--允许全屏-->
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title>@ViewBag.Title </title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="Shortcut Icon" href="favicon.png" type="image/x-icon">
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />*@
    @RenderSection("styles", required: false)
</head>

<body class="no-skin pos-rel coming-soon">

    @RenderBody()

    <!-- basic scripts -->
    <!--[if !IE]>
    -->
    <script src="~/Content/ace/js/jquery.min.js"></script>
    <script src="~/scripts/swiper.min.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script src="~/Scripts/moment-with-locales.js"></script>
    <!-- <![endif]-->
    <!--[if IE]>
    <script src="~/Content/ace/js/jquery1x.min.js"></script>
    <![endif]-->
    <script src="~/Content/ace/js/bootstrap.min.js"></script>

    <script>
        $.ajaxSetup({
            cache: false //关闭AJAX缓存
        });
    </script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
        wx.config({
            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '@weChatJSInfo.AppId', // 必填，公众号的唯一标识
            timestamp: @weChatJSInfo.Timestamp, // 必填，生成签名的时间戳
            nonceStr:'@weChatJSInfo.NonceStr', // 必填，生成签名的随机串
            signature: '@weChatJSInfo.Signature',// 必填，签名，见附录1
            jsApiList: [
            'onMenuShareTimeline',
            'onMenuShareAppMessage',
            'onMenuShareQQ',
            'onMenuShareWeibo'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function(){
            var link=location.href.split("#")[0];
            if(link.indexOf('openid=')>0){
                var bfLink=link.substring(0,link.indexOf('openid=')+7);
                var afLink=link.substring(link.indexOf('openid=')+7);
                if(afLink.indexOf('&')>=0){
                    afLink=afLink.substring(afLink.indexOf('&'));
                }else{
                    afLink="";
                } 
                link=bfLink+afLink;
            }
            link=link.replace('isShared=False','isShared=True');
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.checkJsApi({
                jsApiList: [
                  'onMenuShareTimeline'
                  ,'onMenuShareAppMessage'
                  ,'onMenuShareQQ'
                   ,'onMenuShareWeibo'
                ],
                success: function (res) {
                    //alert(JSON.stringify(res));
                }
            });

            // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口

            wx.onMenuShareAppMessage({
                title: '@Model.ActivityGame.ActionShare.Title',
                desc: '@Model.ActivityGame.ActionShare.Description',
                link:link,
                imgUrl: '@GetShareImage()',
                type:'link',

                //trigger: function (res) {
                //    alert('用户点击发送给朋友');
                //},
                success: function (res) {
                    //分享给朋友 1
                    //分享到朋友圈 2
                    //分享到QQ 3
                    //分享到微博 4
                    //分享到QQ空间 5
                    doShareAppMessage(1);
                },
                cancel: function (res) {
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });


            // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口

            wx.onMenuShareTimeline({
                title: '@Model.ActivityGame.Activity.ActivityShare.Title',
                link:link,
                imgUrl: '@GetShareImage()',
                trigger: function (res) {
                    //alert('用户点击分享到朋友圈');
                },
                success: function (res) {
                    //分享给朋友 1
                    //分享到朋友圈 2
                    //分享到QQ 3
                    //分享到微博 4
                    //分享到QQ空间 5
                    doShareAppMessage(2);
                },
                cancel: function (res) {
                    //alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
        });



        wx.error(function(res){

            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
            //alert(JSON.stringify(res));
        });


        function doShareAppMessage(shareType)
        {
            var options = {
                url: '/weixin/UpdateShare',
                method: 'post',
                data: { id: @Model.Id,shareType: shareType,fromOpenid:"@weChatJSInfo.CurrentOpenId",type:"@ConstConfig.ACTION"}
            };


            $.ajax(options)
                .success(function (data1) {
                    var shacount=parseInt($("#sharecountSpan").text());
                    shacount = shacount+1;
                    $("#sharecountSpan").text(shacount);
                })
                .error(function (data1) {
                });
        }
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>